/* ──────────[ Global Settings ]────────── */
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 15px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    color: #f4d9e1;
}

/* ──────────[ Workspaces ]────────── */
#workspaces {
    background: #282828;
    margin: 5px;
    padding: 0px 5px;
    border-radius: 15px;
    border: solid 0px #f4d9e1;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 5px;
    border-radius: 5px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: #e6b9c6;
    color: black;
    border-radius: 15px;
}

/* ──────────[ Left Modules ]────────── */
#cpu,
#memory,
#temperature {
    background: #282828;
    margin: 5px 0;
    padding: 0 5px;
    border: solid 0px #f4d9e1;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    border-radius: 15px 0px 0px 15px;
}

#temperature {
    border-radius: 0px 15px 15px 0px;
}

/* ──────────[ Center Modules ]────────── */
#custom-cava,
#mpris {
    margin: 5px 0;
    padding: 0px 15px 0px 15px;
    background: rgb(255, 182, 193);
    background: radial-gradient(
        circle,
        rgba(255, 182, 193, 120) 0%,
        rgba(255, 174, 189, 120) 6%,
        rgba(255, 192, 203, 1) 14%,
        rgba(255, 160, 170, 1) 14%,
        rgba(255, 120, 145, 1) 18%,
        rgba(255, 209, 220, 1) 28%,
        rgba(255, 145, 175, 1) 28%,
        rgba(255, 115, 135, 1) 58%,
        rgba(255, 105, 125, 1) 69%,
        rgba(255, 165, 190, 1) 69%,
        rgba(255, 130, 160, 1) 72%,
        rgba(255, 200, 210, 1) 73%,
        rgba(255, 140, 150, 1) 78%,
        rgba(255, 120, 140, 1) 100%
    );
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(0.72, 0.39, 0.21, 1) infinite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
}

#mpris {
    border-radius: 0px 15px 15px 0px;
}

#custom-cava {
    border-radius: 15px 0px 0px 15px;
}

/* ──────────[ Right Modules ]────────── */
#tray {
    background: #282828;
    margin: 5px 10px;
    border-radius: 15px;
    padding: 0 10px;
}

#backlight,
#battery {
    background: #282828;
    margin: 5px 0;
    padding: 0 10px;
    color: #f4d9e1;
    font-weight: normal;
    font-style: normal;
}

#backlight {
    border-radius: 15px 0px 0px 15px;
    margin-left: 8px;
}

#battery {
    border-radius: 0px 15px 15px 0px;
    margin-right: 15px;
    color: #9ece6a;
}

#battery.charging {
    color: #00ff00;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px;
}

#wireplumber.sink-muted {
    background: transparent;
    color: rgba(30, 30, 46, 0.5);
    margin-left: 0px;
}

#wireplumber.source.source-muted {
    background: transparent;
    color: rgba(30, 30, 46, 0.5);
    margin-left: 0px;
}

#clock {
    color: #e6b9c6;
    background-color: #282828;
    border-radius: 0px 0px 0px 24px;
    padding: 0px 8px 0px 13px;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

/* ──────────[ Misc ]────────── */
tooltip {
    color: white;
    background: #282828;
    border: 2px solid pink;
}

#custom-separator {
    color: #999;
}
