[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
GenericName=Terminal Emulator
Comment=Open directories in Alacritty
TryExec=alacritty
Exec=alacritty --working-directory %U
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;
MimeType=inode/directory;
NoDisplay=true
