[Desktop Entry]
Type=Application
Version=1.0
Name=Alacritty
GenericName=Terminal Emulator
NoDisplay=true
Comment=Open directories in Alacritty
Icon=Alacritty
Exec=alacritty --working-directory %U
Terminal=false
MimeType=inode/directory;
Categories=System;TerminalEmulator;
